/*  Table of Contents
1. Global Styles
2. Typography
3. Layout
4. Components
*/

/*  =====================
    1. Global Styles 
    =====================
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$bg-color-primary: #000918;
$highlight-color-main: #FF461D;
$bg-overlay: rgba(0,9,24,.8);
$text-color: #fff;

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $text-color;
}
body { 
    height: 100vh;
    background-color: $bg-color-primary;  
    margin: 0;
}


li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $text-color;
}

/*  =========================
    2. Typography 
    h1,h2,a,p
    =========================
*/
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
}
.bold{
    font-weight: bold;
}
/*  ========================
    3. Layout 
    header, footer
    ========================
*/
.container{
    margin: auto 12vw;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}
nav{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        li{
            padding: 0;
            margin: 0px 20px;
            
        }
    }
}
.nav-hero{
    background: url('../img/bg/hero-bg.jpg') $bg-overlay;
    background-blend-mode: multiply;
    padding: 0.5vw 12vw;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    background-origin: border-box;
}
.hero{
    position: absolute;
    top: 30%;
}

.my-skills{
    background: url('../img/bg/regular-bg.jpg') $bg-overlay;
    background-blend-mode: multiply;
    padding: 0.5vw 12vw;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    background-origin: border-box;

    margin-left: -12vw;
    margin-right: -12vw;
}
.about-me{
    display: flex;
}

/*  =====================
    4. Components 
    buttons, cards
    =====================
*/
.btn{
    background-color: $highlight-color-main;
    border-radius: 25px;
    padding: 1rem 2rem;
    color: $text-color;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.profile-pic.large{
    max-width: 100%;
    display: block;
    border-radius: 50%;
}   

.divider{
    border-bottom: 1px solid $highlight-color-main;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 99%;
    float: none;
    display: inline-block;
    clear: both;
    &.clear{
        opacity: 0;
    }
}

